:root {
    --font-thin:300;
    --font-norm:400;
    --font-bold:900;

    --grey:#58585a;
    --blue:#206b9c;
}

* {
    font-family: 'Roboto', sans-serif;
}

main {
    height:100%;
    width:100%;
}

strong {
    font-weight: 900;
}

/*nav*/
#navlogo{
    width: 200px;
    margin: 10px 40px;
}
#subtitle {
    text-align: center;
    font-weight: 900;
    letter-spacing: .08em;
    border-left: 2px solid #000;
    padding-bottom: 10px;
    color: var(--blue);
    padding: 40px 20px;
}

.mdl-layout__drawer {
    width: 100%;
    height: 100px;
    flex-direction: row;
    position:relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(left,  #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    border-right: 1px solid transparent;

    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.mdl-layout__drawer .mdl-navigation{
    flex-direction: row;
    padding-top: 0px;
    margin-left: 40px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color:#000;
    font-weight: var(--font-bold);
    padding: 40px 25px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover, .mdl-navigation__link.active {
    background-color:var(--blue);
    color:#fff!important;
}
/*nav*/

/*section*/
#submitpage{
    margin: 40px 40px 40px 280px;
    border: 20px solid var(--blue);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
section {
    padding: 0 40px;
    font-size: 24px;
    line-height: 40px;
}
#projections{
    font-size: 18px;
    line-height: 20px;
    height: calc(100vh - 140px);
}
#projections .mdl-layout__container {
    position: relative;
    margin-bottom:50px;
}

.header, .header2 {
    position:relative;
}
.header:after {
    min-width:300px;
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    border-top:3px solid var(--blue);
    z-index: -1;
}
.header2:after {
    min-width:300px;
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    border-top:3px solid #000;
    z-index: -1;
}
.header-descript{
    background-color:var(--blue);
    min-width:300px;
    width:calc(100% - 40px);
    height:auto;
    padding:20px;
    color:#fff;
    font-weight:300;
    margin-top: -20px;
}

#project-switch { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px dashed #3c3c3c;
    border-bottom: 1px dashed #3c3c3c;
    margin: 40px 0 20px 0;
    padding: 20px 0 40px 0;
}

.flex-splitter {
    display:flex;
    flex-direction: row;
    justify-content: start;
    margin:20px;
}
.flex-splitter img {
    margin-right:20px;
}

#existing {

}
#new {
    display: none;
}

.mdl-textfield {
    width:500px;
    font-size: 24px;
}

.mdl-textfield-textarea {
    width:100%;
}


/*swiper*/
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    filter: grayscale(100%);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    filter: grayscale(100%);
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
}


.mdl-textfield__input {
    font-weight:300;
}

#wall-entries{
    display:flex;
    flex-direction: row;
    justify-content: left;
}
.wall-entry{
    margin:40px;
    padding:20px;
    color:#fff;
    background-color: var(--blue);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.entry-slide{
    display: -webkit-box;
    line-height: 33px;
    vertical-align: middle;
    color: #fff;
    background-color: var(--blue);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
/*
.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  overflow: auto;
  height: 100px;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}*/

#session_id {
    background-color:#669ee2;
    color:#fff;
    width:500px;
    margin-right:20px;
    letter-spacing:2px;
}


table {
    font-size:10px;
    width:100%;
}
table tr {
    width:100%;
}

.fixed_header{
}

table tr:nth-child(even) {
    background-color:rgb(219, 219, 219);
}
table tr:nth-child(odd) {
    background-color:rgb(202, 201, 201);
}
table th {
    font-weight:900;
    background-color:rgb(49, 61, 78);
    color:#fff;
    padding:5px;
    position: sticky!important;
    top: 0;
}
table td {
    font-weight: 300;
    text-align:center;
    padding:5px;
}


.slideNumber{
    position: absolute;
    top:40px;
    left:20px;
    opacity:0.3;
    font-weight:900;
    font-size:5em;
}

form {
    z-index: 99;
    position: relative;
}


.mdl-layout__container {
    height: auto;
}
.mdl-layout {
    height:auto;
}
.mdl-data-table {
    border: initial;
    border-collapse: initial;
}
.mdl-data-table th {
    color:#fff;
    text-align: center;
}
.mdl-data-table td {
    text-align: center;
}

/*EDIT*/
#editForm {
    padding:40px;
}
.row {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
/*EDIT*/


  table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }
  th, td {
    padding: 0.25rem;
  }
  th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 99;
  }